@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container1 {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title1 {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title1 span {
	color: crimson;
}

.cta1 {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta1:hover {
	color: white;
	background-color: crimson;
}
.brand1 h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand1 h1 span {
	color: crimson;
}

/* Header section */
#header1 {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header1 .header1 {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header1 .nav-bar1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header1 .nav-list1 ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header1 .nav-list1 ul.active {
	left: 0%;
}
#header1 .nav-list1 ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header1 .nav-list1 ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header1 .nav-list1 ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header1 .nav-list1 ul li:hover a {
	color: crimson;
}
#header1 .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header1 .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header1 .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header1 .hamburger .bar::after,
#header1 .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header1 .hamburger .bar::after {
	top: 8px;
}
#header1 .hamburger .bar::before {
	bottom: 8px;
}
#header1 .hamburger.active .bar::before {
	bottom: 0;
}
#header1 .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero1 {
	background-image: url(./img/hero-bg.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero1::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero1 .hero1 {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero1 h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero1 h1:nth-child(1) {
	animation-delay: 1s;
}
#hero1 h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#hero1 h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero1 h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero1 h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero1 h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */
 
/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta1 {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero1 h1 {
		font-size: 7rem;
	}
	/* End Hero */

 
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header1 .hamburger {
		display: none;
	}
	#header1 .nav-list1 ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header1 .nav-list1 ul li {
		display: inline-block;
	}
	#header1 .nav-list1 ul li a {
		font-size: 1.8rem;
	}
	#header1 .nav-list1 ul a:after {
		display: none;
	}
	/* End header */
 
}
/* End  Media Query For Desktop */


/*******************/

/* start Eslam Elbanna css task */
body{
	overflow: inherit;
}
.postContainer{
	background-color:#E2E3E5; 
	margin-top: 80px;
	font-size: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}
div.postContainer div.postTitle
{
background-color: #636970;
color: white;
}
.postContainer img.postImg{
	margin-bottom: 20px;
}
.postContainer article{
	padding: 10px;
}
.postContainer .historyOfThePost {
	margin-top: 50px;
	margin-bottom: 20px;
}
.postContainer .historyOfThePost .card-title
{
	font-weight: bold;
}
.postContainer .historyOfThePost .card-title ~ p {
font-weight: bold;
display: inline;
}
.underLine{
	height: 5px;
	width: 80px;
	background-color: #636970;
	border-radius: 5px;
	margin-bottom: 15px;
}
.experience i:hover{
	cursor: pointer;
	color: blue;
}
.experience i{
	font-size: 30px;
}
.experience h2{
	margin-bottom: 10px;
}
.ImagsEvent{
	width: 100%;
	height: 0px;
	transition: 1s all ease-in-out;
	overflow: hidden;
}
.rounded{
	width: 30%;
	height: 30%;
	margin-bottom: 15px;
}
#showImages{
	margin-bottom: 20px;
}





/* end Eslam Elbanna task */


